:root{
  --blue:#003366;
  --light-blue: #87CEEB;
  --coral: #FF7F50;
  --white: #F8F8F8;
}

html, body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    line-height: 100%;
}
body {
  background-color:var(--light-blue);
  font-family: 'Roboto', sans-serif; /* A more modern, readable font */
}

main {
    flex: 1 0 auto;
}

.navbar {
  background-color: var(--blue);
  margin-bottom: 1rem;
  padding:20px 20px;
  display: flex;
  align-items: center;
}

.navbar h1 {
  margin: 0;
  flex-grow: 1;
  font-size: 2.75rem;
  font-weight: bold;
  color: var(--white);
}

p {
  line-height: 32px;
  margin-bottom: 30px;
  font-size: 5rem;
}

h3{
  padding: auto;
  font-size: 3rem;
  color: var(--white);
}

h4 {
margin-bottom: 3rem;
padding: 1rem;
font-size: 4rem;
border: 0.5rem inset var(--blue);
font-weight: 300;
background-color: var(--blue);
color: var(--white);
border-radius: 10px;
}

a {
  background-color: #FF7F50;
}

.page-footer {
    padding: 2vh;
    margin:0;
    position:relative;

}

.container {
  width: auto;
  height: auto;
}

.card {
  border: none; /* Remove borders for a cleaner look */
  background-color: var(--blue);
  border-radius: 10px;
  width: auto;
}

.card-content {
  margin: 1rem;
  padding: 1rem;
}

.card .card-content {
  padding: 1rem
}

.input-field {
  border-radius: 5px;
  background-color: var(--white);
  padding: 0.5rem;
  margin: 0;
}

.song-card  .card-content {
 margin: 0;
}

.song-card {
  display: flex;
  justify-content: flex-end;
  background-color: var(--blue);
}

#artist-tracks {
  width: 50%;
  float: left;
}

.btn {
  background-color: var(--coral);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 1rem;
}

#user-form {
  padding-top: 1rem;
  padding-right: 1rem;

}

#submitBtn {
  margin: 1rem;
}

.lyrics-display h4 {
  font-size: 24px; /* Larger size for headings */
  margin: 2rem;
  padding: auto;
}


.lyrics-display {
  background-color: var(--blue); /* Pure white background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 6px 20px rgba(0,0,0,0.1); /* More pronounced shadow */
  width: 45%;
  text-align: center;
  float:right;;
}

.lyrics-display p {
  background-color:var(--blue);
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Larger size for headings */
  margin-top: 5;
  color: var(--white);
}

.get-lyrics-btn {
  width: auto;
  margin: auto;
}

.btn:hover {
  background-color: var(--light-blue); /* Darker blue on hover */
}

@media (max-width: 768px) {
  .lyrics-display {
    padding: 15px;
    font-size: 16px; /* Slightly smaller font size on smaller screens */
    margin: auto;
    width: auto;
    float: initial;
  }


  h3{
    font-size: 15px;
  }

  h4 {
    font-size: 20px;
  }


  .get-lyrics-btn{
    margin-top: 5px;
  }

  .lyrics-display h4 {
    font-size: 20px;
  }

  .lyrics-display p {
    font-size: 16px;
  }

  #artist-tracks {
    width: auto;
    align-items: center;
    float: initial;
  }
}


@media (max-width: 1024px) {
  .lyrics-display h4 {
    font-size: 40px;
    }

  .lyrics-display {
    width: 100%;
    float:initial;
  }

  #artist-tracks {
    width: 100%;
    float: initial;
  }

  .song-card {
    justify-content: center;
  }
}